

body{
    height: 700px;
    /*background-color: red; /* For browsers that do not support gradients *
    background-image: linear-gradient(to bottom right, rgb(221, 218, 218), rgb(5, 142, 188)); */
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(5,100,181,1) 0%, rgba(4,124,197,1) 75%, rgba(2,165,224,1) 86%, rgba(0,212,255,1) 100%); 

}


/* ------NavBar---- */

.NavBar{
    border-bottom: 0.8em black;
    /* position: absolute; */
    top:0;
    display: block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 400px;
    position: relative;
    left: 900px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(252, 251, 251);
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Inter';
    transition-duration: 1s;
    transition-delay: 0.3s;
    /* position: absolute; */

  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    
        border-bottom: 1px solid black;
        border-color: rgb(232, 228, 228);
      }


   .header:hover{
 
   
     
    }

    a:hover {
        border-top: 1px solid rgb(221, 215, 215);
        border-color: rgb(4, 189, 251);
    }
    #logo{
        position: absolute;
        border-radius: 15%;
        bottom: 0px;
        top: 10px;
        height: 100px;
        left: 10px;
    }
    #head{
        font-weight: bolder;
    }
   











.img1{
   
    position: relative;
    bottom:0px;
    left: 0px;
    

   
   
}
.header{
    color:white;
    position: absolute;
    top: 250px;
    left:290px;
    font-size: 90px;
    transition: 0.3s 1s;
    font-weight: 1000;
    font-family:  'calibri';
    opacity: 80%;
   
}


.description{
    position: relative;
    bottom: 650px;
    left: 390px;
    font-size: 20px;
    align-items: center;
    font-family: "Montserrat", Sans-serif;
    font-size: 25px;
    color: black;
    opacity: 78%;
    font-weight:600;
}
.btn_1{
    position:absolute;
    bottom:-12px;
    left: 470px;
   
}
.btn_2{
    position:absolute;
    bottom:-12px;
    left: 660px;
}
#btn1{
    background-color:transparent;
    border: 0.1em solid black;
    color: rgb(12, 11, 11);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.9s;
    transition-delay: 1ms;
}

#btn2{
    background-color:transparent;
    border: 0.1em solid black;
    color: rgb(12, 11, 11);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.9s;
    transition-delay: 1ms;
}


#btn1:hover{
    background-color:rgb(228, 237, 188);
    border-color:rgb(4, 144, 251) ;
    width: 140px;

    
}

#btn2:hover{
    background-color:rgb(228, 237, 188);
    border-color:rgb(4, 144, 251) ;
    width: 140px; 
}
.stars1{
   
    position: relative;
    bottom: 800px;
    width: 13px;
}

.stars2{
  
    position: relative;
    bottom: 904px;
    width: 13px;
    left: 20px;
}
#star{
    color: white;
    opacity: 70%;
    font-size: ;
}

